.container {
  justify-content: center;
  align-items: center;

  .tower {
    height: 100%;
    width: 100%;

    .under {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);

      .explore {
        font-size: 40px;
        color: #1dd3b0;
        font-weight: bold;
        align-self: flex-end;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 20px;
      }

      .right-explore {
          font-size: 25px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      .right {
          height: 30px;
          width: 30px;
          margin-left: 15px;
      }
    }
  }
}
