.container {
  justify-content: center;
  align-items: center;
  flex: 1px;

  .way {
    height: 100%;
    width: 100%;

    .under-way {
        flex-direction: row;
        margin-top: 50px;
        padding: 20px;
        justify-content: space-between;

        .location {
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 500px;
            color: #02182b;
        }

        .city {
            font-size: 20px;
            font-weight: 400px;
            margin-top: 10px;
            color: #02182b;
        }
    }
  }
}
